@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Joel's Movie Collection</h1>
    <p><img src="~/img/JoelHilton.jpg" width="40%" alt="Joel Hilton Headshot" /></p>
    <div class="btn-container">
        <a class="btn" asp-controller="Home" asp-action="AddFilm">Add Film</a>
        <a class="btn" asp-controller="Home" asp-action="ViewFilms">View Films</a>
    </div>
</div>
